body{
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
}

.jumbotron{
    margin-top: 2em;
    height: 700px;
    background: lightgrey;
    color: grey;
}

#title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 60px;
}

#mainContent{
    
}